<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995279955438-4ai0nokrhi3g2ksup2j99vi7sdulu62g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995279955438-4ai0nokrhi3g2ksup2j99vi7sdulu62g</string>
	<key>API_KEY</key>
	<string>AIzaSyCutz9Il-IRRJvyTOvfi6csvV09HjHdeKo</string>
	<key>GCM_SENDER_ID</key>
	<string>995279955438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>toskov.fuel-delivery</string>
	<key>PROJECT_ID</key>
	<string>fuel-delivery-37245</string>
	<key>STORAGE_BUCKET</key>
	<string>fuel-delivery-37245.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995279955438:ios:52c4592b862452917bdaff</string>
	<key>DATABASE_URL</key>
	<string>https://fuel-delivery-37245.firebaseio.com</string>
</dict>
</plist>